{ "web": { "url":  "https://example.poo",
           "dns":  { "domain": "bear.im",
                     "ip":     "127.0.0.1", 
                     "ns":     [ "ns1.dnsimple.com", "ns2.dnsimple.com",
                                 "ns3.dnsimple.com", "ns4.dnsimple.com" ]
                   },
           "cert": "expired.badssl.com"
         }
}